/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
html {
  -webkit-text-size-adjust: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---josip styles */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

::selection {
  background: #e3d770;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #e3d770;
  /* Gecko Browsers */ }

body {
  background: url("../img/swirl_pattern.png") repeat;
  font-size: 16px;
  color: black;
  font-family: 'Titillium Web', sans-serif; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2; }

@keyframes trump_head {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  25% {
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5); }
  50% {
    -moz-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    -webkit-transform: scale(5);
    transform: scale(5); }
  75% {
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
.container {
  width: 95%;
  margin: 0 auto;
  background: white; }
  @media screen and (min-width: 480px) {
    .container {
      width: 85%; } }
  @media screen and (min-width: 768px) {
    .container {
      width: 70%; } }

section {
  padding: 20px 0;
  border-bottom: 1px solid #ececec;
  overflow: hidden;
  width: 100%; }
  section .info {
    width: 100%; }
    @media screen and (min-width: 768px) {
      section .info {
        width: 30%;
        float: left;
        overflow: hidden; } }
    section .info h2 {
      float: left;
      font-weight: bold;
      font-size: 20px; }
    section .info .value {
      float: right; }
  section .selection {
    width: 100%;
    overflow: hidden;
    padding-left: 0;
    padding-top: 30px; }
    @media screen and (min-width: 768px) {
      section .selection {
        width: 70%;
        float: left;
        padding-left: 60px;
        padding-top: 0; } }
  section.range #slider .ui-state-default, section.range #slider .ui-widget-content .ui-state-default, section.range #slider .ui-widget-header .ui-state-default, section.range #slider .ui-button, section.range #slider html .ui-button.ui-state-disabled:hover, section.range #slider html .ui-button.ui-state-disabled:active {
    background: #d15e12;
    width: 2.8em; }

header {
  padding: 40px;
  overflow: hidden; }
  header svg {
    width: 100%;
    display: block;
    animation: trump_head 1s linear; }
    @media screen and (min-width: 768px) {
      header svg {
        max-width: 200px;
        float: left;
        margin-right: 40px; } }
  header h1 {
    font-size: 30px;
    margin-top: 40px; }
    @media screen and (min-width: 768px) {
      header h1 {
        font-size: 40px;
        margin-top: 60px;
        line-height: 1; } }

main {
  padding: 40px; }

.box {
  display: inline-block;
  background: #ececec;
  cursor: pointer;
  width: 100%;
  float: left;
  padding: 20px; }
  .box:last-child {
    margin-right: 0; }
  .box:hover {
    background: #d1946c; }
  .box.active {
    background: #d15e12;
    color: white; }
  @media screen and (min-width: 768px) {
    .box {
      width: 33.3%; } }

.with_image {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase; }
  .with_image svg {
    max-width: 100px;
    max-height: 150px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .with_image svg {
        max-width: 50px; } }
    @media screen and (min-width: 980px) {
      .with_image svg {
        max-width: 100px; } }

.btn-calc {
  margin: 20px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .btn-calc {
      margin: 40px; } }
  .btn-calc #calc {
    background: #d15e12;
    border: 0;
    padding: 20px 80px;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; }
    .btn-calc #calc:hover {
      background: #d1946c; }

.result {
  display: none; }
  .result.active {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center; }
    .result.active p {
      margin: 0% 20% 0%;
      font-size: 30px;
      line-height: 1.4; }
      .result.active p span {
        display: inline;
        color: red;
        font-size: 2em; }
    .result.active #close {
      background: #d15e12;
      padding: 20px 80px;
      color: white;
      font-size: 20px;
      margin: 40px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      display: inline-block; }
      .result.active #close:hover {
        background: #d1946c; }

/*# sourceMappingURL=style.css.map */
